:root {
	--brand-color: #533AFD;
}

body {
	font-family: Inter, system-ui, -apple-system, sans-serif;
	font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 500;
}

a {
	color: var(--brand-color);
}

a:hover {
	opacity: 0.8;
}
